<div class="container-fluid fixed-bottom bg-body-tertiary" data-bs-theme="dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top " >
      <p class="col-md-4 mb-0 text-body-secondary">Ignacio Bonilla</p>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/home" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" class="nav-link px-2 text-body-secondary">Bootstrap</a></li>
        <li class="nav-item"><a href="https://angular.dev" class="nav-link px-2 text-body-secondary">Angular</a></li>
        <li class="nav-item"><a href="https://app.netlify.com/teams/ignacio2609/overview" class="nav-link px-2 text-body-secondary">Netlify</a></li>
        <li class="nav-item"><a href="https://github.com/ignacio2609-boop" class="nav-link px-2 text-body-secondary">Github</a></li>
      </ul>
    </footer>
  </div>