<div class="container-fluid justify-content-center p-2 col-3">
    <h1 class="display-4 p-1">Ingresa una ciudad</h1>
    <form>
        <div class="mb-3">
            <label for="pais" class="form-label">País</label>
            <input type="text" class="form-control" id="pais" placeholder="Ingresa un país">
        </div>
        <div class="mb-3">
            <label for="ciudad" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" placeholder="Ingresa la ciudad">
        </div>
        <div class="mb-3">
            <label for="mes" class="form-label">Mes</label>
            <input class="form-control" list="listMes" id="listFormMes" placeholder="Elige un mes para ir">
            <datalist id="listMes">
                <option value="Enero">
                <option value="Febrero">
                <option value="Marzo">
                <option value="Abril">
                <option value="Mayo">
                <option value="Junio">
                <option value="Julio">
                <option value="Agosto">
                <option value="Septiembre">
                <option value="Octubre">
                <option value="Noviembre">
                <option value="Diciembre">
            </datalist>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-dark" type="button">Añadir destino</button>
        </div>
    </form>
</div>
